.watchedWrapper {
	width: 100%;
	height: 100vh;
	padding: 50px;
	background-color: var(--background-color);
}

@media (max-width: 770px) {
	.watchedWrapper {
		padding: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
